In [2]:
import pandas as pd
#Import ethereum function I've created - it reads the CSV and drops unneeded columns
from reader import reader
from pathlib import Path

In [3]:
eth_df = reader(file1 = "Resources\ETH_USD.csv", ticker1 = "ETH")
eth_df.head()

                ETH
Date
2018-01-18   991.01
2018-01-19   979.57
2018-01-20  1178.29
2018-01-21  1022.74
2018-01-22   999.37

In [4]:
vet_df = reader(file1 = "Resources\VET_USD.csv", ticker1 = "VET")
vet_df.head()

                VET
Date
2018-08-06  0.01342
2018-08-07  0.01294
2018-08-08  0.01087
2018-08-09  0.01155
2018-08-10  0.00958

In [5]:
btc_df = reader(file1 = "Resources\Bitcoin.csv", ticker1 = "BTC")
btc_df.head()

                BTC
Date
2018-01-01  13444.9
2018-01-02  14754.1
2018-01-03  15156.6
2018-01-04  15180.1
2018-01-05  16954.8

In [6]:
ada_df = reader(file1 = "Resources\Cardano.csv", ticker1 = "ADA")
ada_df.head()

                 ADA
Date
2018-01-01  0.702200
2018-01-02  0.762000
2018-01-03  1.080000
2018-01-04  1.104300
2018-01-05  0.994903

In [9]:
daily_returns = pd.concat([eth_df, vet_df, btc_df, ada_df], axis="columns", join="inner")
daily_returns

                ETH       VET      BTC       ADA
Date
2018-08-06   405.67  0.013420   6943.6  0.129543
2018-08-07   378.46  0.012940   6724.9  0.123807
2018-08-08   355.35  0.010870   6283.6  0.112771
2018-08-09   362.49  0.011550   6538.8  0.121940
2018-08-10   331.50  0.009580   6152.3  0.114628
2018-08-11   318.12  0.009090   6231.6  0.110278
2018-08-12   318.16  0.009060   6313.0  0.111876
2018-08-13   283.97  0.007160   6255.3  0.101109
2018-08-14   278.06  0.007740   6190.2  0.093816
2018-08-15   281.44  0.007900   6256.9  0.093590
2018-08-16   287.02  0.011300   6306.7  0.094543
2018-08-17   316.59  0.014900   6581.7  0.109934
2018-08-18   294.01  0.012770   6379.1  0.098332
2018-08-19   298.86  0.014310   6481.5  0.101439
2018-08-20   270.67  0.012930   6268.1  0.092018
2018-08-21   280.00  0.015460   6482.2  0.094728
2018-08-22   270.48  0.013760   6359.6  0.089517
2018-08-23   275.50  0.014700   6521.2  0.092287
2018-08-24   281.00  0.014530   6680.4  0.093815
2018-08-25   277.70  0.015400   6734.8  0.094040
2018-08-26   274.23  0.015280   6712.7  0.093128
2018-08-27   287.63  0.017970   6897.6  0.100400
2018-08-28   295.71  0.017900   7074.6  0.105523
2018-08-29   288.45  0.016900   7029.1  0.105448
2018-08-30   284.12  0.017310   6993.7  0.100681
2018-08-31   281.80  0.017040   7033.8  0.101781
2018-09-01   295.87  0.018200   7189.6  0.106994
2018-09-02   295.46  0.017860   7293.9  0.104757
2018-09-03   289.30  0.018790   7264.2  0.103592
2018-09-04   285.31  0.019450   7377.5  0.105269
...             ...       ...      ...       ...
2021-03-01  1569.79  0.045750  49595.5  1.296200
2021-03-02  1486.50  0.043794  48424.2  1.224643
2021-03-03  1568.08  0.052914  50395.1  1.214324
2021-03-04  1538.58  0.050217  48428.0  1.112490
2021-03-05  1527.82  0.051995  48792.5  1.158227
2021-03-06  1649.23  0.053306  48855.6  1.129016
2021-03-07  1725.31  0.056590  50982.3  1.131882
2021-03-08  1832.76  0.065342  52311.0  1.118466
2021-03-09  1869.16  0.064449  54879.0  1.197200
2021-03-10  1794.51  0.061383  55851.9  1.133092
2021-03-11  1823.61  0.067189  57799.5  1.124155
2021-03-12  1765.93  0.065611  57265.1  1.032050
2021-03-13  1922.10  0.067477  61195.3  1.101309
2021-03-14  1849.13  0.065929  59113.7  1.055119
2021-03-15  1793.09  0.078731  55791.3  1.030954
2021-03-16  1805.66  0.074421  56889.7  1.249261
2021-03-17  1822.78  0.076682  58913.5  1.377406
2021-03-18  1777.75  0.077514  57656.0  1.231230
2021-03-19  1807.90  0.080897  58088.0  1.295932
2021-03-20  1805.25  0.089365  58093.4  1.200409
2021-03-21  1783.34  0.093639  57383.8  1.186839
2021-03-22  1683.07  0.088319  54158.3  1.103464
2021-03-23  1668.77  0.083175  54452.5  1.116343
2021-03-24  1585.97  0.084999  52325.4  1.070167
2021-03-25  1587.86  0.080827  51322.3  1.096429
2021-03-26  1698.95  0.089864  55036.1  1.214457
2021-03-27  1711.84  0.088533  55862.9  1.176785
2021-03-28  1687.27  0.090733  55765.2  1.189546
2021-03-29  1816.19  0.091995  57616.2  1.202812
2021-03-30  1838.14  0.089857  58771.3  1.226979

[963 rows x 4 columns]

In [12]:
eth_max = max(daily_returns['ETH'])
vet_max = max(daily_returns['VET'])
btc_max = max(daily_returns['BTC'])
ada_max = max(daily_returns['ADA'])
print(eth_max)
print(vet_max)
print(btc_max)
print(ada_max)

1955.16
0.093639
61195.3
1.377406

In [14]:
eth_btc_ratio = btc_max / eth_max
vet_btc_ratio = btc_max / vet_max
ada_btc_ratio = btc_max / ada_max
btc_btc_ratio = btc_max

In [17]:
eth_normalised_returns = daily_returns['ETH'] * eth_btc_ratio
vet_normalised_returns = daily_returns['VET'] * vet_btc_ratio
ada_normalised_returns = daily_returns['ADA'] * ada_btc_ratio

In [19]:
normalised_returns = pd.concat([eth_normalised_returns, vet_normalised_returns, daily_returns['BTC'], ada_normalised_returns], axis="columns", join="inner")
normalised_returns / btc_max

                 ETH       VET       BTC       ADA
Date
2018-08-06  0.207487  0.143316  0.113466  0.094049
2018-08-07  0.193570  0.138190  0.109892  0.089884
2018-08-08  0.181750  0.116084  0.102681  0.081872
2018-08-09  0.185402  0.123346  0.106851  0.088529
2018-08-10  0.169551  0.102308  0.100535  0.083220
2018-08-11  0.162708  0.097075  0.101831  0.080062
2018-08-12  0.162728  0.096755  0.103162  0.081222
2018-08-13  0.145241  0.076464  0.102219  0.073405
2018-08-14  0.142219  0.082658  0.101155  0.068111
2018-08-15  0.143947  0.084367  0.102245  0.067947
2018-08-16  0.146801  0.120676  0.103059  0.068638
2018-08-17  0.161925  0.159122  0.107552  0.079812
2018-08-18  0.150376  0.136375  0.104242  0.071389
2018-08-19  0.152857  0.152821  0.105915  0.073645
2018-08-20  0.138439  0.138083  0.102428  0.066805
2018-08-21  0.143211  0.165102  0.105926  0.068773
2018-08-22  0.138342  0.146947  0.103923  0.064990
2018-08-23  0.140909  0.156986  0.106564  0.067001
2018-08-24  0.143722  0.155170  0.109165  0.068110
2018-08-25  0.142034  0.164461  0.110054  0.068273
2018-08-26  0.140260  0.163180  0.109693  0.067611
2018-08-27  0.147113  0.191907  0.112715  0.072891
2018-08-28  0.151246  0.191160  0.115607  0.076610
2018-08-29  0.147533  0.180480  0.114863  0.076555
2018-08-30  0.145318  0.184859  0.114285  0.073095
2018-08-31  0.144131  0.181975  0.114940  0.073893
2018-09-01  0.151328  0.194363  0.117486  0.077678
2018-09-02  0.151118  0.190732  0.119191  0.076054
2018-09-03  0.147967  0.200664  0.118705  0.075208
2018-09-04  0.145927  0.207713  0.120557  0.076426
...              ...       ...       ...       ...
2021-03-01  0.802896  0.488578  0.810446  0.941044
2021-03-02  0.760296  0.467690  0.791306  0.889094
2021-03-03  0.802021  0.565085  0.823513  0.881602
2021-03-04  0.786933  0.536283  0.791368  0.807670
2021-03-05  0.781430  0.555271  0.797324  0.840876
2021-03-06  0.843527  0.569271  0.798355  0.819668
2021-03-07  0.882439  0.604342  0.833108  0.821749
2021-03-08  0.937396  0.697808  0.854821  0.812009
2021-03-09  0.956014  0.688271  0.896785  0.869170
2021-03-10  0.917833  0.655528  0.912683  0.822627
2021-03-11  0.932717  0.717532  0.944509  0.816139
2021-03-12  0.903215  0.700680  0.935776  0.749271
2021-03-13  0.983091  0.720608  1.000000  0.799553
2021-03-14  0.945769  0.704076  0.965984  0.766019
2021-03-15  0.917107  0.840793  0.911693  0.748475
2021-03-16  0.923536  0.794765  0.929642  0.906966
2021-03-17  0.932292  0.818911  0.962713  1.000000
2021-03-18  0.909261  0.827796  0.942164  0.893876
2021-03-19  0.924681  0.863924  0.949223  0.940850
2021-03-20  0.923326  0.954357  0.949311  0.871500
2021-03-21  0.912120  1.000000  0.937716  0.861648
2021-03-22  0.860835  0.943186  0.885008  0.801117
2021-03-23  0.853521  0.888252  0.889815  0.810468
2021-03-24  0.811171  0.907731  0.855056  0.776944
2021-03-25  0.812138  0.863177  0.838664  0.796010
2021-03-26  0.868957  0.959686  0.899352  0.881699
2021-03-27  0.875550  0.945471  0.912863  0.854349
2021-03-28  0.862983  0.968966  0.911266  0.863613
2021-03-29  0.928921  0.982443  0.941513  0.873244
2021-03-30  0.940148  0.959611  0.960389  0.890790

[963 rows x 4 columns]