In [4]:
import pandas as pd
#Import ethereum function I've created - it reads the CSV and drops unneeded columns
from reader import reader
from pathlib import Path

In [5]:
eth_df = reader(file1 = "Resources\ETH_USD.csv", ticker1 = "ETH")
eth_df.head()

                 ETH
Date
2018-01-18    991.01
2018-01-19    979.57
2018-01-20  1,178.29
2018-01-21  1,022.74
2018-01-22    999.37

In [6]:
vet_df = reader(file1 = "Resources\VET_USD.csv", ticker1 = "VET")
vet_df.head()

                VET
Date
2018-08-06  0.01342
2018-08-07  0.01294
2018-08-08  0.01087
2018-08-09  0.01155
2018-08-10  0.00958

In [7]:
btc_df = reader(file1 = "Resources\Bitcoin.csv", ticker1 = "BTC")
btc_df.head()

                 BTC
Date
2018-01-01  13,444.9
2018-01-02  14,754.1
2018-01-03  15,156.6
2018-01-04  15,180.1
2018-01-05  16,954.8

In [8]:
ada_df = reader(file1 = "Resources\Cardano.csv", ticker1 = "ADA")
ada_df.head()

                 ADA
Date
2018-01-01  0.702200
2018-01-02  0.762000
2018-01-03  1.080000
2018-01-04  1.104300
2018-01-05  0.994903

In [9]:
daily_returns = pd.concat([eth_df, vet_df, btc_df, ada_df], axis="columns", join="inner")
daily_returns

                 ETH       VET       BTC       ADA
Date
2018-08-06    405.67  0.013420   6,943.6  0.129543
2018-08-07    378.46  0.012940   6,724.9  0.123807
2018-08-08    355.35  0.010870   6,283.6  0.112771
2018-08-09    362.49  0.011550   6,538.8  0.121940
2018-08-10    331.50  0.009580   6,152.3  0.114628
2018-08-11    318.12  0.009090   6,231.6  0.110278
2018-08-12    318.16  0.009060   6,313.0  0.111876
2018-08-13    283.97  0.007160   6,255.3  0.101109
2018-08-14    278.06  0.007740   6,190.2  0.093816
2018-08-15    281.44  0.007900   6,256.9  0.093590
2018-08-16    287.02  0.011300   6,306.7  0.094543
2018-08-17    316.59  0.014900   6,581.7  0.109934
2018-08-18    294.01  0.012770   6,379.1  0.098332
2018-08-19    298.86  0.014310   6,481.5  0.101439
2018-08-20    270.67  0.012930   6,268.1  0.092018
2018-08-21    280.00  0.015460   6,482.2  0.094728
2018-08-22    270.48  0.013760   6,359.6  0.089517
2018-08-23    275.50  0.014700   6,521.2  0.092287
2018-08-24    281.00  0.014530   6,680.4  0.093815
2018-08-25    277.70  0.015400   6,734.8  0.094040
2018-08-26    274.23  0.015280   6,712.7  0.093128
2018-08-27    287.63  0.017970   6,897.6  0.100400
2018-08-28    295.71  0.017900   7,074.6  0.105523
2018-08-29    288.45  0.016900   7,029.1  0.105448
2018-08-30    284.12  0.017310   6,993.7  0.100681
2018-08-31    281.80  0.017040   7,033.8  0.101781
2018-09-01    295.87  0.018200   7,189.6  0.106994
2018-09-02    295.46  0.017860   7,293.9  0.104757
2018-09-03    289.30  0.018790   7,264.2  0.103592
2018-09-04    285.31  0.019450   7,377.5  0.105269
...              ...       ...       ...       ...
2021-03-01  1,569.79  0.045750  49,595.5  1.296200
2021-03-02  1,486.50  0.043794  48,424.2  1.224643
2021-03-03  1,568.08  0.052914  50,395.1  1.214324
2021-03-04  1,538.58  0.050217  48,428.0  1.112490
2021-03-05  1,527.82  0.051995  48,792.5  1.158227
2021-03-06  1,649.23  0.053306  48,855.6  1.129016
2021-03-07  1,725.31  0.056590  50,982.3  1.131882
2021-03-08  1,832.76  0.065342  52,311.0  1.118466
2021-03-09  1,869.16  0.064449  54,879.0  1.197200
2021-03-10  1,794.51  0.061383  55,851.9  1.133092
2021-03-11  1,823.61  0.067189  57,799.5  1.124155
2021-03-12  1,765.93  0.065611  57,265.1  1.032050
2021-03-13  1,922.10  0.067477  61,195.3  1.101309
2021-03-14  1,849.13  0.065929  59,113.7  1.055119
2021-03-15  1,793.09  0.078731  55,791.3  1.030954
2021-03-16  1,805.66  0.074421  56,889.7  1.249261
2021-03-17  1,822.78  0.076682  58,913.5  1.377406
2021-03-18  1,777.75  0.077514  57,656.0  1.231230
2021-03-19  1,807.90  0.080897  58,088.0  1.295932
2021-03-20  1,805.25  0.089365  58,093.4  1.200409
2021-03-21  1,783.34  0.093639  57,383.8  1.186839
2021-03-22  1,683.07  0.088319  54,158.3  1.103464
2021-03-23  1,668.77  0.083175  54,452.5  1.116343
2021-03-24  1,585.97  0.084999  52,325.4  1.070167
2021-03-25  1,587.86  0.080827  51,322.3  1.096429
2021-03-26  1,698.95  0.089864  55,036.1  1.214457
2021-03-27  1,711.84  0.088533  55,862.9  1.176785
2021-03-28  1,687.27  0.090733  55,765.2  1.189546
2021-03-29  1,816.19  0.091995  57,616.2  1.202812
2021-03-30  1,838.14  0.089857  58,771.3  1.226979

[963 rows x 4 columns]