In [1]:
import pandas as pd
#Import ethereum function I've created - it reads the CSV and drops unneeded columns
from reader import reader
from pathlib import Path

In [2]:
eth_df = reader(file1 = "ETH_USD.csv", ticker1 = "ETH")
eth_df.head()

                 ETH
Date
2018-01-18    991.01
2018-01-19    979.57
2018-01-20  1,178.29
2018-01-21  1,022.74
2018-01-22    999.37

In [3]:
vet_df = reader(file1 = "VET_USD.csv", ticker1 = "VET")
vet_df.head()

                VET
Date
2018-08-06  0.01342
2018-08-07  0.01294
2018-08-08  0.01087
2018-08-09  0.01155
2018-08-10  0.00958

In [4]:
btc_df = reader(file1 = "Bitcoin.csv", ticker1 = "BTC")
btc_df.head()

                 BTC
Date
2018-01-01  13,444.9
2018-01-02  14,754.1
2018-01-03  15,156.6
2018-01-04  15,180.1
2018-01-05  16,954.8

In [5]:
ada_df = reader(file1 = "Cardano.csv", ticker1 = "ADA")
ada_df.head()

                 ADA
Date
2018-01-01  0.702200
2018-01-02  0.762000
2018-01-03  1.080000
2018-01-04  1.104300
2018-01-05  0.994903