In [7]:
import pandas as pd
from ethereum import ethereum
from pathlib import Path

In [8]:
eth_df = ethereum(file1 = "ETH_USD.csv")
eth_df.head()

               Price
Date
2021-03-30  0.089857
2021-03-29  0.091995
2021-03-28  0.090733
2021-03-27  0.088533
2021-03-26  0.089864

In [9]:
eth_df.columns=["ETH"]
eth_df.head()

                 VET
Date
2021-03-30  0.089857
2021-03-29  0.091995
2021-03-28  0.090733
2021-03-27  0.088533
2021-03-26  0.089864