In [15]:
import pandas as pd
#Import ethereum function I've created - it reads the CSV and drops unneeded columns
from ethereum import ethereum
from pathlib import Path

In [21]:
eth_df = ethereum(file1 = "./Resources/ETH_USD.csv")
eth_df.columns=["ETH"]
eth_df.head()

                 ETH
Date
2021-03-30  1,838.14
2021-03-29  1,816.19
2021-03-28  1,687.27
2021-03-27  1,711.84
2021-03-26  1,698.95

In [22]:
vet_df = ethereum(file1 = "./Resources/VET_USD.csv")
vet_df.columns=["VET"]
vet_df.head()

                 VET
Date
2021-03-30  0.089857
2021-03-29  0.091995
2021-03-28  0.090733
2021-03-27  0.088533
2021-03-26  0.089864

In [23]:
btc_df = ethereum(file1 = "./Resources/Bitcoin.csv")
btc_df.columns=["BTC"]
btc_df.head()

                 BTC
Date
2021-03-30  58,771.3
2021-03-29  57,616.2
2021-03-28  55,765.2
2021-03-27  55,862.9
2021-03-26  55,036.1

In [24]:
ada_df = ethereum(file1 = "./Resources/Cardano.csv")
ada_df.columns=["ADA"]
ada_df.head()

                 ADA
Date
2021-03-30  1.226979
2021-03-29  1.202812
2021-03-28  1.189546
2021-03-27  1.176785
2021-03-26  1.214457